.menu {
	font: 400 14px/1 'Open Sans', sans-serif;
}

.link {
	color: #4b4b4b;
	text-decoration: none;
}

.menu-item:not(:last-child)::after {
	display: inline-block;
	content: '/';
	margin: 0 35px;
}