include data/footer
include bem/page_title/page_title
include bem/header/header
include bem/footer/footer

doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title contact
    link(rel='shortcut icon' href='img/favicon.png' type='image/x-icon')
    link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.6.3/css/all.css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700,800|Play:400,700|Raleway:400,500,600,700" rel="stylesheet')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.6.3/css/all.css' integrity='sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/' crossorigin='anonymous')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', type='text/css', href='style/normalize.css')
    link(rel='stylesheet', type='text/css', href='style/style.css')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='js/link.js')
    script(src='js/page.js')
  body
    +header
    +page_title('contact')
    .layout
      .layout_section
        section.contact
          h2.h2 Contact Us
          include bem/form/form
          input.button(type="submit" value="send")
    .map._map
    script.
      var map = null;
      function createMap() {
      var loc = {lat: 25.652278, lng: 89.856461};
      map = new google.maps.Map(document.querySelector('._map'), {zoom: 6, center: loc});
      }
    //- script(src='js/map.js')
    +footer
    script(async='', defer='', src='https://maps.googleapis.com/maps/api/js?callback=createMap')
