include data/blog
include data/projects
include data/footer

include bem/blog/blog
include bem/blog_card/blog_card
include bem/aside/aside
include bem/share/share
include bem/button/button
include bem/footer/footer

doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Play:400,700' rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Raleway:600' rel='stylesheet')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', type='text/css', href='style/style.css')
    script(src='js/script.js')
  body
  +blog__full
  +footer