body {
  font: 14px/20px 'Open Sans', sans-serif;
  color: #4b4b4b;
  background: #ffffff;
  margin: 0;
}
a:hover {
  text-decoration: none;
}
.layout {
  width: 100%;
  min-width: 1170px;
}
.layout_section {
  width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}
.layout_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.layout_row:not(:last-child) {
  margin-bottom: 15px;
}
.layout_col-2 {
  width: calc(100% / 2 - 15px);
}
.layout_col-3 {
  width: calc(100% / 3 - 10px);
}
.layout_col-4 {
  width: calc(25% - 11.25px);
}
.menu {
  font: 400 14px/1 'Open Sans', sans-serif;
  margin: 20px 15px 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.link {
  color: #4b4b4b;
  text-decoration: none;
}
.link:hover {
  border-bottom: 2px solid #26a1e4;
}
.menu-item:not(:last-child)::after {
  display: inline-block;
  content: '/';
  margin: 0 35px;
}
.project {
  margin: 80px 0;
}
.project_inner {
  margin-top: 30px;
}
.project_photo {
  width: 360px;
  height: 360px;
}
.project_photo__modifier {
  height: 240px;
  position: relative;
  -webkit-transition: width 2s;
  -o-transition: width 2s;
  transition: width 2s;
}
.project_photo__modifier:hover {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
  position: absolute;
  background-color: #22a7f0;
  opacity: 0.6;
}
.contact {
  margin: 80px 0;
}
.form {
  padding: 50px 0 0 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.form_input {
  border: 1px solid #d7d7d7;
  width: 100%;
  height: 40px;
  font: 400 14px OpenSans, sans-serif;
  color: black;
}
.form_input::-webkit-input-placeholder {
  font: 300 14px OpenSans, sans-serif;
  color: #575757;
  padding: 0 20px;
}
.form_input:-ms-input-placeholder {
  font: 300 14px OpenSans, sans-serif;
  color: #575757;
  padding: 0 20px;
}
.form_input::-ms-input-placeholder {
  font: 300 14px OpenSans, sans-serif;
  color: #575757;
  padding: 0 20px;
}
.form_input::placeholder {
  font: 300 14px OpenSans, sans-serif;
  color: #575757;
  padding: 0 20px;
}
.form_textarea {
  width: calc(100% - 20px);
  height: 170px;
  margin-top: 10px;
  padding-left: 20px;
}
.form_textarea::-webkit-input-placeholder {
  font: 300 14px OpenSans, sans-serif;
  color: #575757;
}
.form_textarea:-ms-input-placeholder {
  font: 300 14px OpenSans, sans-serif;
  color: #575757;
}
.form_textarea::-ms-input-placeholder {
  font: 300 14px OpenSans, sans-serif;
  color: #575757;
}
.form_textarea::placeholder {
  font: 300 14px OpenSans, sans-serif;
  color: #575757;
}
.form_button {
  background-color: #26a1e4;
  width: 100px;
  height: 40px;
  font: 700 14px Raleway, sans-serif;
  color: #ffffff;
  text-align: center;
  border: none;
  text-transform: uppercase;
  margin-top: 30px;
}
.form__error {
  color: red;
  text-align: left;
  font-size: 12px;
  margin-top: 3px;
  display: none;
}
.form_input:valid:not(:placeholder-shown) {
  border-color: green;
}
.form_input:invalid:not(:placeholder-shown) {
  border-color: red;
}
.form_input:invalid:not(:placeholder-shown) + .form__error {
  display: block;
}
.header-wrap {
  background-image: url("../img/slider-1-820x421.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 760px;
  background-color: #353535;
  position: relative;
}
.header-wrap::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #3c4955;
  opacity: 0.6;
}
.slick-initialized,
.slick-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  margin: auto;
}
.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}
.slider_title {
  text-transform: uppercase;
  font: 600 50px Raleway;
  color: #ffffff;
}
.slider_text {
  font: 400 14px/22px OpenSans;
  color: #ffffff;
  width: 560px;
  padding-top: 30px;
}
.button-slider {
  font: 400 14px/34px Play;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  width: 140px;
  height: 40px;
  margin-top: 40px;
  border: 1px solid #ffffff;
}
.h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font: 400 35px Play;
  text-transform: uppercase;
  color: #22a7f0;
  margin: 0;
}
.h2::after {
  content: '';
  border-bottom: 2px solid #26a1e4;
  width: 70px;
  height: 20px;
}
.h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font: 400 24px Play;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
}
.service {
  background-color: #f8f8f8;
  padding: 80px;
}
.service_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}
.service_item:not(:last-child) {
  margin-bottom: 40px;
}
.service_icon {
  font: 400 50px FontAwesome;
  color: #4b4b4b;
}
.service_title {
  text-transform: uppercase;
  font: 400 24px/31px Play;
  color: #22a7f0;
  padding: 30px;
  margin: 0;
}
.service_text {
  font: 400 14px/31px OpenSans;
  color: #353535;
}
.clients-wrap {
  background-image: url("../img/build.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(34, 167, 240, 0.79);
  position: relative;
}
.clients-wrap::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #22a7f0;
  opacity: 0.6;
}
.clients {
  height: 235px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}
.client_item {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding-top: 60px;
  padding-bottom: 80px;
}
.client_count {
  font: 700 50px Play, sans-serif;
  color: #ffffff;
}
.client_title {
  font: 400 26px/59px Play, sans-serif;
  color: #ffffff;
  text-transform: uppercase;
}
.blog_home {
  margin: 80px 0 120px 0;
}
.blog-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-top: 30px;
}
.blog_card {
  background-color: #f8f8f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.blog_img {
  background-color: #26a1e4;
  width: 225px;
  height: 210px;
}
.blog-info {
  padding: 45px 25px 35px 25px;
  position: relative;
}
.blog-info_date {
  font: 14px/25px OpenSans, sans-serif;
  color: #353535;
  font-style: italic;
  text-align: left;
}
.blog-info_text {
  font: 400 14px/25px OpenSans, sans-serif;
  color: #353535;
  text-align: left;
  margin: 0;
  padding-bottom: 40px;
}
.button_more {
  border: none;
  font: 700 14px/25px OpenSans, sans-serif;
  color: #26a1e4;
  position: absolute;
  right: 0;
  margin-right: 25px;
  margin-bottom: 30px;
  background-color: transparent;
  text-transform: uppercase;
}
.map {
  height: 415px;
}
.header_top-wrap {
  -webkit-box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.09);
}
.header_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 30px auto;
}
.header_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #fffdfd;
  padding: 20px 0 15px 0;
}
.header_link:not(:last-child) {
  margin-right: 15px;
}
.header_contact-item {
  font: 400 14px/24px 'Myriad Pro', sans-serif;
  color: #353535;
  margin-right: 40px;
}
.header_contact-item:last-child {
  margin-right: 0;
}
.header_icon {
  font-size: 14px;
  font-weight: 400;
  color: #4b4b4b;
}
.header_icon__modifier {
  margin-right: 10px;
}
.header_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.header_menu-item {
  font: 400 14px/31px OpenSans, sans-serif;
  color: #4b4b4b;
  text-decoration: none;
  margin-right: 40px;
  text-transform: uppercase;
}
.header_menu-item:last-child {
  margin-right: 0;
}
.header_menu-item:hover {
  color: #26a1e4;
}
._current {
  color: #26a1e4;
}
.page_title-wrap {
  background-color: #22a7f0;
}
.page_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 25px 0;
}
.pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.pages_item {
  text-transform: capitalize;
  font: 400 14px/24px OpenSans, sana-serif;
  color: #ffffff;
}
.pages_item:not(:last-child) {
  padding-right: 5px;
}
.blog {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 80px 0;
}
.blog_text {
  font: 400 14px/22px 'Open Sans', sans-serif;
  color: #353535;
  text-decoration: none;
}
.blog_text__accent {
  color: #26a1e4;
}
.blog_header {
  font: 700 24px 'Play', sans-serif;
  margin: 0;
  padding: 35px 0 15px;
}
.blog_pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin: 80px 0;
}
.footer {
  font: 400 14px/20px 'Open Sans', sans-serif;
  color: #ffffff;
}
.footer_layer {
  background-color: #26a1e4;
}
.footer_layer__main {
  background-color: #161616;
}
.footer_contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}
.footer_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.footer_section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 30px 0;
}
.footer_text {
  text-decoration: none;
  margin: 0;
  color: #ffffff;
}
.footer_text__accent {
  color: #26a1e4;
}
.footer_text__big {
  margin-bottom: 20px;
}
.footer_copyright {
  background-color: #000000;
  font-size: 13px;
  padding: 40px 0;
  text-align: center;
}
.footer_copyright__heart {
  color: #ff0000;
}
