//- mixin service
//-     section.service
//-         .layout_row
//-             .layout_col-3
//-                 .service_item
//-                     i.fab.fa-slack-hash
//-                         h5.service_title= serviceItems[0].title
//-                         .service_text= serviceItems[0].text
//-             .layout_col-3
//-                 .service_item
//-                     i.fab.fa-slack-hash
//-                         h5.service_title= serviceItems[1].title
//-                         .service_text= serviceItems[1].text
//-             .layout_col-3
//-                 .service_item
//-                     i.fab.fa-slack-hash
//-                         h5.service_title= serviceItems[2].title
//-                         .service_text= serviceItems[2].text
//-         .layout_row
//-             .layout_col-3
//-                 .service_item
//-                     i.fab.fa-slack-hash
//-                         h5.service_title= serviceItems[3].title
//-                         .service_text= serviceItems[3].text
//-             .layout_col-3
//-                 .service_item
//-                     i.fab.fa-slack-hash
//-                         h5.service_title= serviceItems[4].title
//-                         .service_text= serviceItems[4].text
//-             .layout_col-3
//-                 .service_item
//-                     i.fab.fa-slack-hash
//-                         h5.service_title= serviceItems[5].title
//-                         .service_text= serviceItems[5].text

mixin _service(item)
    .layout_col-3
        .service_item
            i.fab.fa-slack-hash
                h5.service_title= item.title
                .service_text= item.text
mixin service(colNeeded)
    - var col = 0;
    - var row = 0;
    - var rowNeeded = serviceItems.length / colNeeded;
    while row < rowNeeded
        .layout_row
            while col < (row + 1) * colNeeded
                +_service(serviceItems[col])
                - col++;
        - row++;