.service {
  background-color:  #f8f8f8;
  
  &_item {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    text-align: center;
  }
  
  &_icon {
    font:400 50px FontAwesome;
    color:  #4b4b4b;
    }
  
  &_title {
    text-transform: uppercase;
    font:400 24px/31px Play;
    color:  #22a7f0;
    padding: 30px;
  }
  
  &_text {
   font-family:400 14px/31px OpenSans;
   color:  #353535;
   }
}