.row
  .w-1-3
    img.project(src='img/project1.jpg', alt='')
  .w-1-3
    img.project(src='img/project2.jpg', alt='')
  .w-1-3
    img.project(src='img/project3.jpg', alt='')
.row
  .w-1-3
    img.project(src='img/project4.jpg', alt='')
  .w-1-3
    img.project(src='img/project5.jpg', alt='')
  .w-1-3
    img.project(src='img/project6.jpg', alt='')
