.layout_row
  .layout_col-3
    img.project(src='img/project1.jpg', alt='')
  .layout_col-3
    img.project(src='img/project2.jpg', alt='')
  .layout_col-3
    img.project(src='img/project3.jpg', alt='')
.layout_row
  .layout_col-3
    img.project(src='img/project4.jpg', alt='')
  .layout_col-3
    img.project(src='img/project5.jpg', alt='')
  .layout_col-3
    img.project(src='img/project6.jpg', alt='')
