mixin page_title(title)
  .page_title-wrap
    .layout
      .layout_section
        .page_title
          h3.h3= title
          .pages
            span.pages_item Home > 
            span.pages_item= title