section.slider
  h1.slider_title we care about your bussines
  .slider_text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam elementum consectetur egestas.
    |Nulla nisi nisi, rutrum vitae nunc non, bibendum euismod nulla
  input.button-slider(type='submit', value='about as')
  h1.slider_title we care about your bussines
  .slider_text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam elementum consectetur egestas.
    |Nulla nisi nisi, rutrum vitae nunc non, bibendum euismod nulla
  input.button-slider(type='submit', value='about as')
  h1.slider_title we care about your bussines
  .slider_text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam elementum consectetur egestas.
    |Nulla nisi nisi, rutrum vitae nunc non, bibendum euismod nulla
  input.button-slider(type='submit', value='about as')