.project {
    margin: 80px 0 45px 0;
    &_inner {
    margin-top: 30px;
    }
    &_photo {
    width: 360px;
    height: 360px;
    &__modifier {
        height: 240px;
        position: relative;
        transition: width 2s;
        &:hover {
        cursor: zoom-in; //url(../img/search-plus-solid.svg), pointer;
        position: absolute;
        background-color: #22a7f0;;
        opacity: 0.6;
        }
    }
    }
    &_button {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    }
}
