.contact{
	margin: 80px 0;
}

.form {
	padding: 50px 0 0 0;
	box-sizing: border-box;
	&_field {
		// width: calc(50% - 39px);
	}
		&_input{
		border: 1px solid #d7d7d7;
		width: 100%;
		// width: calc(50% - 39px);
		height: 40px;
		font:400 14px OpenSans, sans-serif;
		color: black;
		// padding-left: 20px;
		// margin-bottom: 20px; 
		// &:nth-child(2n-1) {
		// 	margin-right: 30px;
		// 	}
			&::placeholder {
			font:300 14px OpenSans, sans-serif;
			color:#575757;
			padding: 0 20px;
			}
			// &__check {
			// 	width: 100%;
			// }
		}
		&_textarea {
		width: calc(100% - 20px);
		height: 170px;
		margin-top: 10px;
		padding-left: 20px;
			&::placeholder {
			font:300 14px OpenSans, sans-serif;
			color:#575757;
		}
		}
		&_button {
		background-color: #26a1e4;
		width: 100px;
		height: 40px;
		font: 700 14px Raleway, sans-serif;
		color:  #ffffff;
		text-align: center;
		border:none;
		text-transform: uppercase;
		margin-top: 30px;
		}
	&__error {
	color: red;
	text-align: left;
	font-size: 12px;
	margin-top: 3px;
	display: none;
}
	}

.form_input:valid:not(:placeholder-shown) {
	border-color: green;
}

.form_input:invalid:not(:placeholder-shown) {
	border-color: red;
}
.form_input:invalid:not(:placeholder-shown) + .form__error {
	display: block;
}

    // .row{
    //     display: flex;
    //     justify-content: space-between;
    // }