-
var projects = [{
    image: 'img/project1.jpg',
    },{
    image: 'img/project2.jpg',
    },{
    image: 'img/project3.jpg',
    },{
    image: 'img/project4.jpg',
    },{
    image: 'img/project5.jpg',
     },{
    image: 'img/project6.jpg',
  }];

  