-
  var serviceItems = [{
    icon: 'i.fab.fa-slack-hash',
    title: 'nibh ridiculus1',
    text: 'Donec ullamcorper nulla non metus auctor fringilla. Cum sociis natoque penatibus etmagnis dis parturie nt montes, nascetur.',
  },{
    icon: 'i.fab.fa-slack-hash',
    title: 'grammatica del2',
    text: 'Donec ullamcorper nulla non metus auctor fringilla. Cum sociis natoque penatibus etmagnis dis parturie nt montes, nascetur.',
  },{
    icon: 'i.fab.fa-slack-hash',
    title: 'europan lingues3',
    text: 'Donec ullamcorper nulla non metus auctor fringilla. Cum sociis natoque penatibus etmagnis dis parturie nt montes, nascetur.',
  },{
    icon: 'i.fab.fa-slack-hash',
    title: 'ipsum quia4',
    text: 'Donec ullamcorper nulla non metus auctor fringilla. Cum sociis natoque penatibus etmagnis dis parturie nt montes, nascetur.',
  },{
    icon: 'i.fab.fa-slack-hash',
    title: 'aliquam quaerat5',
    text: 'Donec ullamcorper nulla non metus auctor fringilla. Cum sociis natoque penatibus etmagnis dis parturie nt montes, nascetur.',
  },{
    icon: 'i.fab.fa-slack-hash',
    title: 'dolorem eum6',
    text: 'Donec ullamcorper nulla non metus auctor fringilla. Cum sociis natoque penatibus etmagnis dis parturie nt montes, nascetur.',
  }];



