mixin ability_item 
   .ability_item
      each item in abilityWhoWeAre
         h2.h2.h2__short=item.header
         p.ability_text=item.text1
         p.ability_text=item.text2

mixin abilityWho
   .layout_section
      .ability
         .layout_row
            .layout_col-2
               img.ability_img(src='img/ability.png', alt='')
            .layout_col-2
               +ability_item 
               .ability_button
                  button.button(type='submit') OUR SERVICES

mixin list
   li
   li
   li

mixin abilityWhatWeDo
   .layout_section
      .ability
         .layout_row
            .layout_col-2
               +list
            .layout_col-2
               +ability_item 
