section.header-wrap
  .layout
    .layout_section
      .header-slider
        .slider
          h1.slider_title we care about your bussines
          .slider_text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam elementum consectetur egestas.
            |Nulla nisi nisi, rutrum vitae nunc non, bibendum euismod nulla
          input.button-slider(type='submit', value='about as')
        .slider
          h1.slider_title we care about your bussines
          .slider_text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam elementum consectetur egestas.
            |Nulla nisi nisi, rutrum vitae nunc non, bibendum euismod nulla
          input.button-slider(type='submit', value='about as')
        .slider
          h1.slider_title we care about your bussines
          .slider_text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam elementum consectetur egestas.
            |Nulla nisi nisi, rutrum vitae nunc non, bibendum euismod nulla
          input.button-slider(type='submit', value='about as')